.html-log {
    &__center {
        text-align: center
    }

    &__uppercase {
        text-transform: uppercase;
    }
}

.hand-over {
    cursor: pointer;
}

.html-text {
    &__red {
        color: red;
    }

    &__blue {
        color: #3273dc;
    }

    &__word-break {
        word-break: break-all;
    }

    &__border-box {
        border-top: 1px solid #dbdbdb;
    }
}

.sw_dispaly {
    &__show_desktop {
        display: none;
    }

    &__show_mobile {
        display: flex;
    }
}

.el {
    &--full_width {
        width: 100%;
    }

    &--modal_margin_top {
        margin-top: -30vh;
    }

    &--text_green {
        color: #23d160;
    }

    &--header_primary {
        background-color: #00d1b2;
        color: #fff;
        font-size: 1rem;
        font-weight: 700;
    }

    &--zIndex {
        z-index: 10;
    }

    &--icon-top {
        margin-top: 5px;
    }

    &--margin-content-left {
        margin-left: 15px;
    }

    &--flex-wrap {
        flex-wrap: wrap;
    }
}


@media screen and (min-width: 1140px){
  
}

@media screen and (min-width: 960px){
    .sw_dispaly {
        &__show_desktop {
            display: flex;
        }
    
        &__show_mobile {
            display: none;
        }
    }

    .el {
        &--modal_margin_top {
            margin-top: 0px;
        }
    }
}

@media screen and (min-width: 768px){
  
}

@media screen and (min-width: 576px){
  
}